:root {
  --blue: hsl(224, 93%, 58%);
  --cyan: hsl(170, 45%, 43%);
  --black: hsl(243, 87%, 12%);
  --light-gray: hsl(0, 0%, 75%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --light-grayish-blue: hsl(240, 75%, 98%);

  --body-font: "Open Sans", sans-serif;
  --heading-font: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: var(--body-font);
}
h1,
h2 {
  color: var(--black);
  font-family: var(--heading-font);
}
input,
button {
  border: none;
  font: inherit;
  color: inherit;
  background: none;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

/* Utilities */

.container,
.container-lg {
  width: 100%;
  padding-inline: 24px;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    margin-inline: auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg {
    max-width: 992px;
  }
}
@media (min-width: 1024px) {
  .container,
  .container-lg {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container,
  .container-lg {
    max-width: 1280px;
  }
}

.flex {
  display: flex;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .flex-desktop-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 991px) {
  .text-mobile-center {
    text-align: center;
  }
}

/* Components */

.form {
  row-gap: 32px;
  max-width: 600px;
  position: relative;
  margin-inline: auto;
  flex-direction: column;
}
.form :is(input, button) {
  width: 100%;
  height: 80px;
  border-radius: 8px;
}
.form input {
  font-size: 24px;
  padding-block: 30px;
  padding-inline: 40px;
  background-color: #fff;
  will-change: border-color;
  border: 1px solid var(--black);
}
.form input:invalid {
  border-color: red;
}
.form input::placeholder {
  opacity: 0.7;
}
.form [role="alert"] {
  left: 0;
  top: 88px;
  color: red;
  display: none;
  font-size: 14px;
  position: absolute;
}
.form input:invalid + [role="alert"] {
  display: block;
}
.form button {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.7rem;
  will-change: opacity;
  transition-duration: 0.3s;
  transition-property: opacity;
  background-color: var(--blue);
  color: var(--light-grayish-blue);
  font-family: var(--heading-font);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.form button:is(:hover, :focus-visible) {
  opacity: 0.8;
}
@media (min-width: 992px) {
  .form {
    max-width: 100%;
  }
  .form :is(input, button) {
    height: 46px;
    border-radius: 4px;
  }
  .form input {
    flex: 2;
    font-size: 14px;
    padding: 12px 14px;
  }
  .form [role="alert"] {
    font-size: 12px;
    top: calc(100% + 8px);
  }
  .form button {
    flex: 1;
    font-size: 14px;
    max-width: 200px;
  }
}

/* Header area */

.header {
  padding-block: 45px 180px;
}
.nav {
  padding-inline: 24px;
  margin-bottom: 200px;
}
@media (max-width: 991px) {
  .nav .logo {
    transform: scale(0.964);
  }
}
.nav .links {
  column-gap: 45px;
}
.nav .links a {
  font-size: 24px;
}
.nav .links a:is(:hover, :focus-visible) {
  text-decoration: underline;
}
@media (min-width: 992px) {
  .header {
    padding-block: 65px 170px;
  }
  .nav {
    margin-bottom: 80px;
  }
  .nav .logo {
  }
  .nav .links {
    column-gap: 55px;
  }
  .nav .links a {
    font-size: 16px;
  }
}

.hero {
}
.hero .illustration {
  margin-bottom: 40px;
}
.hero .title {
  line-height: 1.5;
  font-size: 2.9rem;
  margin-bottom: 50px;
}
.hero .txt {
  line-height: 1.5;
  font-size: 1.79rem;
  margin-bottom: 60px;
}
@media (min-width: 992px) {
  .hero {
  }
  .hero .container {
    display: grid;
    column-gap: 24px;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: minmax(0, 590px) minmax(0, 645px);
  }
  .hero .illustration {
    order: 2;
  }
  .hero .title {
    margin-bottom: 15px;
    font-size: 2.514rem;
  }
  .hero .txt {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .hero .form {
    column-gap: 12px;
    flex-direction: row;
  }
  .hero .form input {
    max-width: 320px;
  }
}

/* Productive section */

.productive {
  background-size: 100%;
  padding-block: 185px 164px;
  background-repeat: no-repeat;
  background-color: var(--light-grayish-blue);
  background-image: url(images/bg-curve-mobile.svg);
}
.productive .img {
  margin-bottom: 175px;
}
.productive .title {
  font-size: 2rem;
  margin-bottom: 60px;
}
.productive .txt {
  line-height: 1.5;
  font-size: 1.6rem;
  margin-bottom: 35px;
  color: var(--desaturated-blue);
}
.productive .cta {
  font-size: 24px;
  margin-top: 72px;
  color: var(--cyan);
  width: fit-content;
  margin-inline: auto;
  padding-bottom: 12px;
  will-change: opacity;
  border-bottom: 2px solid;
  transition-duration: 0.3s;
  transition-property: opacity;
}
.productive .cta:is(:hover, :focus-visible) {
  opacity: 0.8;
}
@media (min-width: 992px) {
  .productive {
    padding-block: 175px 106px;
    background-image: url(images/bg-curve-desktop.svg);
  }
  .productive .container {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: minmax(0, 655px) minmax(0, 540px);
  }
  .productive .img {
    order: 2;
    margin-bottom: 0;
  }
  .productive .title {
    font-size: 2.5rem;
    margin-bottom: 35px;
  }
  .productive .txt {
    font-size: 16px;
    max-width: 520px;
    color: var(--black);
    margin-bottom: 18px;
  }
  .productive .cta {
    margin-top: 0;
    margin-inline: 0;
    font-size: 16px;
    padding-bottom: 2px;
    border-bottom-width: 1px;
  }
}

.productive .card {
  width: 600px;
  height: 340px;
  max-width: 100%;
  margin-top: 80px;
  border-radius: 4px;
  padding-block: 40px;
  margin-inline: auto;
  padding-inline: 50px 30px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media (max-width: 991px) {
  .productive .icon {
    transform: scale(1.5);
  }
}
.productive .quote {
  font-size: 22px;
  line-height: 1.6;
  margin-block: 12px 27px;
}
.productive .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-inline-end: 12px;
}
.productive .name {
  display: block;
  font-size: 1.2rem;
  color: var(--black);
  font-family: var(--heading-font);
}
.productive .position {
  font-size: 12px;
}
@media (min-width: 992px) {
  .productive .card {
    width: 355px;
    height: 217px;
    margin-top: 40px;
    margin-inline: 0;
    padding-block: 25px;
    padding-inline: 30px;
  }
  .productive .icon {
  }
  .productive .quote {
    font-size: 14px;
    margin-block: 5px 12px;
  }
  .productive .avatar {
    width: 25px;
    height: 25px;
    margin-inline-end: 8px;
  }
  .productive .name {
    line-height: 1;
    font-size: 12px;
    margin-bottom: -3px;
  }
  .productive .position {
    font-size: 10px;
  }
}

/* Access section */

.access {
  padding-block: 110px 145px;
  color: var(--light-grayish-blue);
  background-color: var(--desaturated-blue);
}
.access .title {
  color: inherit;
  font-size: 2.2rem;
}
.access .txt {
  font-size: 1.8rem;
  margin-block: 40px 50px;
}
@media (min-width: 992px) {
  .access {
    display: grid;
    height: 322px;
    place-items: center;
    padding-block: 20px 0;
  }
  .access .title {
    font-size: 2rem;
  }
  .access .txt {
    font-size: 17px;
    max-width: 517px;
    margin-block: 25px 0;
  }

  .access .form {
  }
  .access .form input {
    width: 475px;
  }
  .access .form button {
    min-height: 48px;
  }
}

/* Footer area */

.footer {
  color: white;
  padding-block: 130px 90px;
  background-color: var(--black);
}
.footer .logo {
  margin-bottom: 85px;
}
@media (min-width: 992px) {
  .footer {
    padding-block: 40px 85px;
  }
  .footer .logo {
    margin-bottom: 35px;
    transform: scale(0.8) translateX(-20px);
  }
}

.footer .contacts {
}
.footer .contacts a {
  display: flex;
  font-size: 2rem;
  column-gap: 42px;
  align-items: center;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .footer .contacts svg {
    transform: scale(1.8);
  }
}
@media (min-width: 992px) {
  .footer .contacts {
  }
  .footer .contacts a {
    font-size: 16px;
    column-gap: 16px;
    margin-bottom: 15px;
  }
}

.footer .links {
  display: grid;
  row-gap: 30px;
  margin-block: 120px 100px;
}
.footer .links a {
  font-size: 2rem;
  will-change: color;
  transition-duration: 0.3s;
  transition-property: color;
}
.footer .links a:is(:hover, :focus-visible) {
  color: var(--blue);
}
@media (max-width: 991px) {
  .footer .links li:nth-last-child(3) {
    display: block;
    margin-top: 60px;
  }
}
@media (min-width: 992px) {
  .footer .links {
    row-gap: 14px;
    margin-block: 0;
    column-gap: 110px;
    padding-top: 137px;
    grid-template-columns: 1fr 1fr;
  }
  .footer .links a {
    font-size: 16px;
  }
  .footer .links .order {
    grid-column: 2;
    grid-row: var(--order);
  }
}

.footer .social {
  column-gap: 10px;
  justify-content: center;
}
.footer .social a {
  width: 50px;
  height: 50px;
  display: grid;
  border: 1px solid;
  border-radius: 50%;
  will-change: color;
  place-items: center;
  transition-duration: 0.3s;
  transition-property: color;
}
.footer .social a:is(:hover, :focus-visible) {
  color: var(--blue);
}
@media (min-width: 992px) {
  .footer .social {
    padding-top: 44px;
  }
  .footer .social a {
    width: 30px;
    height: 30px;
  }
  .footer .social svg {
    transform: scale(0.7);
  }
}
